#pictures-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
  gap: 10px;
}

.pictures-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
}

.pictures-list img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
